
body{
  margin:3%;
}
#map-canvas{
  height:700px;
}
#results{
  max-height:700px;
}
#places{
  list-style:none;
  overflow-y: scroll;
  height:535px;
}
#places:li {
  background-color: #f1f1f1;
  padding: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#places:li:nth-child(odd) {
  background-color: #fcfcfc;
}
#header{
	text-align:center;
}
      
   